#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Introduction to Jupyter Notebook
- Machine Learning Models for Predictions

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientist include: 
1. Pandas
2. NumPy
3. Tensorflow
4. Matplotlib

| Data Science Tools |
|--------------------|
| MySQL |
| Apache Spark |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in python

In [1]:
7+7

14

In [2]:
9*2

18

In [3]:
14-4

10

In [4]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

## Author

Khalil Hassan